body {
  margin: 0;
  box-sizing: border-box;
  font-family: Barlow;
}


/*Typography */

h1{
  font-weight: 700;
  font-size: 16px;
  line-height: 19.2px;
  letter-spacing: 0%;
  margin: 0;
}







